<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1 class="top-font-container">ようこそ Bookers へ！</h1>
    <p class="top-font-p"><span class="top-font-span">Bookers</span> では、さまざまな書籍に関するあなたの意見や<br>
    <br>
    <span class="top-font-span-second">印象を共有し交換することができます</span>
    </p>
    <p class="top-font-p">
    <%= link_to "start","/books" %>
    </p>
  </body>
</html>